<p>reactiveform works!</p>

<form [formGroup]="studentForm" (ngSubmit)="onSubmit()" class="row g-3">
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Email</label>
    <input 
    formControlName="email"
    type="email" 
    class="form-control" 
    [ngClass]="emailControl?.valid ? 'is-valid' : ''"
    [class.is-invalid]="emailControl?.touched && emailControl?.invalid"
    id="inputEmail4"
    />
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Password</label>
    <input 
    formControlName="password"
    type="password"
    class="form-control"
    [class.is-valid]="passwordControl?.valid"
    [class.is-invalid]="passwordControl?.touched && passwordControl?.invalid"
    id="inputPassword4"
    placeholder="Ejemplo: Mg555987!"
    />
    <div *ngIf="passwordControl?.hasError('strongPassword') && passwordControl?.touched">
    </div>
    <p class="form-text">La contraseña debe tener al menos 8 caracteres, una mayuscula, una minuscula y
    un numero.</p>
  </div>
  <div class="col-md-6">
    <label class="form-label">Name</label>
    <input 
    formControlName="name"
    type="text" 
    [ngClass]="nameControl?.valid ? 'is-valid' : ''"
    class="form-control" />
  </div>
  <div class="col-md-6">
    <label class="form-label">Last name</label>
    <input
      formControlName="lastName"
      type="text"
      [ngClass]="lastnameControl?.valid ? 'is-valid' : ''"
      class="form-control" />
  </div>
  <div class="col-md-6">
    <label for="inputAddress" class="form-label">Address</label>
    <input
    formControlName="address"
      type="text"
      class="form-control"
      [ngClass]="addressControl?.valid ? 'is-valid' : ''"
      id="inputAddress"
      placeholder="1234 Main St"
    />
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">City</label>
    <input 
    formControlName="city"
    type="text" 
    [ngClass]="cityControl?.valid ? 'is-valid' : ''"
    class="form-control" 
    id="inputCity" />
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">Sign in</button>
  </div>

  <div class="col-6">
    <pre>{{ studentForm.status }}</pre>
    <pre>{{ studentForm.value | json }}</pre>
  </div>
</form>
